@import '../../index.scss';

.footer {
    background-color: #212121;
    div{
        .responsive-footer{
            @media screen and (max-width: 900px) {
                @include flexMini();
                flex-direction: column;
            }
        }
    }
    &-listWrapper {
        @include flexMini(flex-start, flex-start);
        margin-top: $mt-5;
        flex: 1;
        @media screen and (max-width: 900px) {
            @include flexMini(space-around);
            flex: none;
            width: 100%;
        }
        @media screen and (max-width: 500px) {
            @include flexMini(flex-start,flex-start);
            flex-direction: column;
            text-align: center;
            gap: 20px;
            width: 100%;
        }
    }
    &-connect{
        h1{
            margin-bottom: 10px
        }
        @media screen and (max-width: 900px) {
            width: 100%;
            text-align: center;
            .responsive-footer-tags{
                @include flexMini(space-around);
                width: 100%;
            }
        }
    }
    &-bottom{
        @include flexMini(flex-start,flex-start);
        flex-direction: column;
        gap: 20px;
        @media screen and (max-width: 900px) {
            @include flexMini();
            flex-direction: column;
            text-align: center;
        }
    }
}


.icon-wrapper {
    @extend %transition;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 40px;
    @include flexMini();
}

.youtube {
    background-color: #DC2626;
    &:hover{
        background-color: darken($color: #DC2626, $amount: 15%);
    }
}

.facebook {
    background-color: #1E3A8A;
    &:hover{
        background-color: darken($color: #1E3A8A, $amount: 15%);
    }
}

.twitter {
    background-color: #06B6D4;
    &:hover{
        background-color: darken($color: #06B6D4, $amount: 15%);
    }
}

.linkedin {
    background-color: #0C4A6E;
    &:hover{
        background-color: darken($color: #0C4A6E, $amount: 15%);
    }
}