@import '../../index.scss';

.list{
    border-right: 1px solid #fff;
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
    &:last-child{
        border-right: none;
    }
    @media screen and (max-width: 500px) {
        border-right: none !important;
        border-bottom: 1px solid #fff;
        margin-right: 0px;
        &:last-child{
            border-bottom: none;
        }
    }
    ul{
        @include flexMini(flex-start,flex-start);
        width: 100%;
        gap: 15px;
        flex-direction: column;
        @media screen and (max-width: 500px) {
            margin-bottom: 10px;
        }
        li{
            font-size: 18px;
            color: $white;
        }
    }
}